* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(117, 230, 245);
}

#message {
  background-color: lightgreen;
  text-align: center;
  display: none;
  padding: 30px;

}

.final-date {
  margin: 20px auto;
  text-align: center;
}

.clock-container {
  text-align: center;
  width: 400px;

  height: 80px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: #000;
  color: white;
}

.cell h1 {
  text-align: center;
  font-weight: bolder;
  font-style: 30px;
}